@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  color:black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  text-align: center;
}
.hamburger{
  cursor:pointer;
  width: 24px;
  height: 24px;
  position: relative;
  transition: 1s;
}

.griding{
  display:grid;
  grid-template-columns:1fr 2fr;
  height: 100vh;
  color:rgb(235, 230, 230)
}
.spinnerContainer{
  position:fixed;
  top:0;
  right: 0;
  left:0;
  bottom: 0;
  background-color: rgba(0,0,0,0,5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner{
  width:64px;
  height:64px;
  border:4px solid;
  border-color: #000 transparent #ff4e07 transparent;
  border-radius: 50%;
  animation:spin 1s linear infinite;
}
.qoutes{
  place-content: center;
  top: 0;
  right: 0;
  left: 50px;
  bottom: 0;
  z-index: 5000;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

}
@keyframes spin{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform:rotate(360deg);
  }
}